/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';

.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #faa913;
  padding: 2px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  font-size: 14px;
  text-align: center;
}
